<div class="navbar">
  <span class="logo"><span class="email" style="color:red;">Blur</span>Admin
   <button (click)="toggleSidebar()" class="toggle-button">
    <span class="material-icons">menu</span>
  </button>
<div class="search-container">
    <span class="material-icons search-icon">search</span>
    <input type="text" placeholder="Search for..." class="search-box" />    
  </div></span>
  <div class="user-info">
    <span>Have questions? <span class="email" style="color:red;">help&#64;admin.com</span></span>
    <img src="https://img.freepik.com/free-photo/portrait-charismatic-sensual-male-black-sweater-creative-personality_613910-11128.jpg?t=st=1730097183~exp=1730100783~hmac=b50f701024affc8e11d46c8969708505745c0cc74e9af592365e5e49e8bbf1c0&w=740" alt="User Profile" class="user-img" />
  </div>
</div>

